ul {
  padding-left: 0px;
}

.App {
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.margin-2-t {
  margin-top: 20px;
}

.pad-2-b {
  padding-bottom: 20px;
}